<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Montserrat&display=swap" rel="stylesheet">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
			<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
			<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
			<link rel="stylesheet" href="../../css/styles.css">
			
		<title>Callwatch</title>
	</head>
<body>
<%- include ('./partials/header.ejs') %> 
  

<!--es es el div del banner  -->
<div class="separador-banner"></div>
<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel" style="margin-bottom: 1em ;">
	<div class="carousel-inner">
	  <div class="carousel-item active">
		<img src="images/banner2.jpg" class="d-block w-100" alt="...">
	  </div>
	  <div class="carousel-item">
		<img src="images/banner.jpg" class="d-block w-100" alt="...">
	  </div>
	</div>
	<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
	  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Previous</span>
	</button>
	<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
	  <span class="carousel-control-next-icon" aria-hidden="true"></span>
	  <span class="visually-hidden">Next</span>
	</button>
  </div>
<div class="mini-banner">
<a href="/products/tech"><img src="images/1.png" alt="";></a>
<a  class="mini-banner-img" href="/products"><img src="images/3.png" alt=""></a>
<a  class="mini-banner-img" href="/products/vintage"><img src="images/2.png" alt=""></a>


</div>
    

<!-- este es el div de la categoria female-->
	<h2 style="text-align: center;">Regalo para el día del Padre</h2>

	<div class="products">


		<% for(let i = 0; i < products.length; i ++){ if (products[i].categorias.nombre == 'Hombre' ) { %> 
		<a href="/products/detalle/<%= products[i].id %>">
		<article class="producto">
			<img src= '../../images/<%= products[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= products[i].nombre %> </h3>
                    <p>$<%= products[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% }} %> 
    
    </div>
	
    <!-- este es el div de la categoria inteligentes -->
	<h2 style="text-align: center;">Línea Smartwatch by CallWatch</h2>

	<div class="products">

		
		<% for(let i = 0; i < products.length; i ++){ if (products[i].categorias.nombre == 'SmartWatch' ) { %> 
		<a href="/products/detalle/<%= products[i].id %>">
		<article class="producto">
			<img src= '../../images/<%= products[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= products[i].nombre %> </h3>
                    <p>$<%= products[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% }} %> 
    
    </div>
	
    <div class="imagenes-banner-2" >
		
        <h2>Globemaster Callwatch Annual Calendar</h2>

        <p>Conozca los tres nuevos modelos de esta colección de estilo clásico, 
        fabricados en diversos materiales y con esferas en color verde, burdeos y oro
		</p>
			
        <button class="boton-css-nuevo"> <a href="/products" >Descubrí nuevos Relojes</a></button>
	</div>		
</div>

<%- include ('./partials/footer.ejs') %> 


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>