<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
<%- include ('./partials/header.ejs') %> 
  

<!--es es el div del banner  -->
<div class="imagenes-banner">
	<img src="images/banner.jpg" alt="banner">
</div>
<div class="mini-banner">
<a href="/products/tech"><img src="images/1.png" alt="";></a>
<a  class="mini-banner-img" href="/products"><img src="images/3.png" alt=""></a>
<a  class="mini-banner-img" href="/products/vintage"><img src="images/2.png" alt=""></a>


</div>
    

<!-- este es el div de la categoria female-->
	<h2 style="text-align: center;">Regalo para el día de la mujer</h2>

	<div class="products">


		<% for(let i = 0; i < products.length; i ++){ if (products[i].category == 'Female' ) { %> 
		<a href="/products/detalle/<%= products[i].id %>">
		<article class="producto">
			<img src= '../../images/<%= products[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= products[i].nombre %> </h3>
                    <p>$<%= products[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% }} %> 
    
    </div>
	
    <!-- este es el div de la categoria inteligentes -->
	<h2 style="text-align: center;">Línea Smartwatch by CallWatch</h2>

	<div class="products">

		
		<% for(let i = 0; i < products.length; i ++){ if (products[i].category == 'smartwatch' ) { %> 
		<a href="/products/detalle/<%= products[i].id %>">
		<article class="producto">
			<img src= '../../images/<%= products[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= products[i].nombre %> </h3>
                    <p>$<%= products[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% }} %> 
    
    </div>
	
    <div class="imagenes-banner-2" >
		
        <h2>Globemaster Callwatch Annual Calendar</h2>

        <p>Conozca los tres nuevos modelos de esta colección de estilo clásico, 
        fabricados en diversos materiales y con esferas en color verde, burdeos y oro
		</p>
			
        <button class="boton-css-nuevo"> <a href="/products" >Descubrí nuevos Relojes</a></button>
			
</div>

<%- include ('./partials/footer.ejs') %> 

</body>

</body>
</html>