<!DOCTYPE html>
<html lang="en">
<%- include ('./partials/head.ejs') %> 
<body>
<%- include ('./partials/header.ejs') %> 
    
    
<div class="todos-productos"><h2>Todos los relojes</h2></div>

	<div class="products" >


		<% for(let i = 0; i < products.length; i ++){  %> 
		<a href="/products/detalle/<%= products[i].id %>">
		<article class="producto">
			<img src= '../images/<%= products[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= products[i].nombre %> </h3>
                    <p>$<%= products[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% } %> 
    
    </div>
    <%- include ('./partials/footer.ejs') %> 
</body>

</body>
</html>