<!DOCTYPE html>
<html lang="en">
    <%- include ('../partials/head.ejs') %> 
<body>
    <%- include ('../partials/header-logo.ejs') %> 
    
    <main>
        <div class="ingresa" style="margin-top: 150px;"><h2>Comprá más rápido y llevá el control de tus pedidos, ¡en un solo lugar!</h2></div>
            <form action="./register" method="POST" class="formulario" enctype="multipart/form-data" style="margin-top: 0px;">
        
        
        <div class="control-formulario">
            
            <input type="text" 
            name="nombre" 
            placeholder="Ingresá tu nombre completo"
            id="nombre"
            class="control" 
            value="<%=locals.oldData? oldData.nombre : null%>" 
            >
            <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                    <%= errors.nombre.msg %> 
                </div>
            <% } %>
       </div>
        

        <div class="control-formulario">
                   
            <input type="text"
            placeholder="Ingresá un nombre de usuario" 
            name="usuario" 
            id="usuario" 
            class="control"  
            value="<%=locals.oldData? oldData.usuario : null %>" 
            >
            <% if (locals.errors && errors.usuario) { %>
                <div class="text-danger">
                    <%= errors.usuario.msg %> 
                </div>
            <% } %>    
        </div>
        
        <div class="control-formulario">
            
            <input type="email" 
            name="email" 
            id="email" 
            class="control"
            placeholder="Ingresá tu Email"
            value="<%= locals.oldData ? oldData.email : null %>" 
            >
            <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                    <%= errors.email.msg %> 
                </div>
            <% } %>
        </div>
       

        <div class="control-formulario">
            <label for="imagen"><b>Selecciona tu foto de perfil:</b></label>    
              <!-- Acá lo que tenemos que hacer es que por defecto quede la imagen ya ingresada.-->
            <input type="file" name="imagen" id="imagen" class="control"> 
            <% if (locals.errors && errors.imagen) { %>
                <div class="text-danger">
                    <%= errors.imagen.msg %> 
                </div>
            <% } %>
        </div>


        <div class="control-formulario">
            <input type="password" 
            placeholder="Ingresá tu contraseña"
            name="password" 
            id="password" 
            class="control" 
            >
            <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                    <%= errors.password.msg %> 
                </div>
            <% } %>
        </div>
        <div class="control-formulario">
            <label for="categorias" name="category">Categorias</label>
            <select class="control" name="category">
                <option value="">Seleccionar</option>
                <option value="1">Bronce</option>
                <option value="2">Plata</option>
                <option value="3">Oro</option>
                <option value="4">Platino</option>
                
            </select>    
        </div>
        

        <div class="each-checkbox">
            <input type="checkbox" name="newsletter" value="newsletter" id="newsletter">
            <label for="newsletter">Quiero recibir la newsletter para recibir descuentos y novedades</label>
        </div>

        <div class="control"><button type="submit" class="home">Continuar</button>   </div>
        
          
        
    </form>
    
    </main>
<%- include ('../partials/footer.ejs') %> 
</body>
</html>