<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
<div class="bienvenido"><h2>Bienvenido de vuelta @<%= user.usuario %></h2></div>
<main class="main-bievenidos" style="background-color: #fff;">
    
    <div class="bienvenido-main-body">
    
    <div class="body-elemento1">
        <div class="bienvenido-contenedor">
            <img src="../images/avatar-1.jpg " class="imagen">
        </div>
    
        
    </div>

    <div class="body-elemento-2">
        <h2 class="nombre">
            
            <p style="align-self: center;">Hola <%= user.nombre %>!</p>
        </h2>
        <div class="user-icons">
            
            
            <a style="color: black; text-decoration: none; cursor: pointer;" href="#">
                
                <i class="fa-brands fa-gratipay"></i>
                <h4>Mi wishlist</h4>
            </a>
        </div>
        <div class="user-icons">
            
            
            <a style="color: black; text-decoration: none; cursor: pointer;" href="#">
                
                <i class="fa-solid fa-receipt"></i>
                <h4>Mis pedidos</h4>
            </a>
        </div>
        
      
    </div>          
</div>



<hr>
<div style="text-align-last: center;">
    <a class="boton-css-nuevo" href="/users/logout/">Logout</a>
</div>



</main>

<%- include ('../partials/footer.ejs') %> 
</body>
</html>