<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
<main>
    <div class="title-carrito"><h2>Vendé tus Relojes</h2></div>
<form action='/products' method="POST" class="formulario" enctype="multipart/form-data" style="margin-top: 0px;">
    
    <div class="control-formulario">

        <label for="nombre"></label>
        <input type="text"
         name="nombre" 
         id="nombre" 
         class="control" 
         placeholder="Nombre del producto"
         value="<%=locals.oldData? oldData.nombre : null%>">
         <p class="error" id="nombre"></p>
    </div>
    <% if(locals.errors && errors.nombre){ %>
        <div class="text-danger"> <%= errors.nombre.msg %> </div>
    <% } %>

    <div class="control-formulario">
        <label for="descripcion">Descripción del producto</label>

        <textarea name= "descripcion" 
        type="text" 
        id="descripcion" 
        class="control" 
        placeholder="Descripción del producto"
        value="<%=locals.oldData? oldData.descripcion: null%>"></textarea>
        <p class="error" id="descripcion"></p>
    </div>
    
    <% if(locals.errors && errors.descripcion){ %>
        <div class="text-danger"> <%= errors.descripcion.msg %> </div>
    <% } %>
    
    
    <div class="control-formulario">
        <label for="categorias" name="category">Categorias</label>

        <select class="control" 
        name="category" id="category"
        value="<%=locals.oldData? oldData.category: null%>">

            <option value="">Seleccionar</option>
            <% for(let i = 0; i<categorias.length; i ++) {%> 
            <option value="<%=categorias[i].id%>"><%=categorias[i].nombre%></option>
            <% }%> 
        </select>    
    </div>
    <p class="error" id="category"></p>
    
    

    <% if(locals.errors && errors.category){ %>
        <div class="text-danger"> <%= errors.category.msg %> </div>
    <% } %>

    

    <div class="control-formulario">
        <label for="color">Color del producto</label>
    </div>
    <div class="control-formulario-radio">
        <% for(let i = 0; i<colores.length; i ++) {if(colores[i].id <= 3){%>
            <div class="each">
                <input type="radio" 
                name="color" 
                class="radio" 
                id="color-<%=colores[i].color%>"
                value="<%=colores[i].id%>" >

                <img src="../../images/<%=colores[i].color%>.png" alt="imagen-<%=colores[i].color%>" class="color"/> 
                <label for="color-<%=colores[i].color%>"><%=colores[i].color%></label>
            </div>
            <% } }%>          
    </div>


    <div class="control-formulario-radio">
        <% for(let i = 0; i < colores.length; i ++) {if(colores[i].id > 3){%>
            <div class="each">
                <input type="radio" name="color" value="<%=colores[i].id%>" class="radio" id="color-<%=colores[i].color%>">
                <img src="../../images/<%=colores[i].color%>.png" alt="imagen-<%=colores[i].color%>" class="color"/> 
                <label for="color-<%=colores[i].color%>"><%=colores[i].color%></label>
            </div>
            <% }} %>          
    </div>

        
<% if(locals.errors && errors.color){ %>
    <div class="error"> <%= errors.color.msg %> </div>
<% } %>
    
    
   
    <div class="control-formulario">
        <label for="imagen"></label>

        <input type="file" name="imagen" 
        id="imagen" 
        class="control"
        value="<%=locals.oldData? oldData.imagen: null%>"> 
        <p class="error" id="imagen"></p>
    </div>   
    <% if(locals.errors && errors.imagen){ %>
        <div class="error"> <%= errors.imagen.msg %> </div>
    <% } %>
    


    
    <div class="control-formulario">
        <label for="precio">Precio</label>

        <input type= "number" name="precio" 
        placeholder="Precio del producto" 
        id="precio" 
        class="control"
        value="<%=locals.oldData? oldData.precio: null%>"> 

        <% if(locals.errors && errors.precio){ %>
            <div class="error"> <%= errors.precio.msg %> </div>
        <% } %>
        <p class="error" id="precio"></p>

        <!--  
        <div class="control-precio">
        <input type= "number" name="precio" placeholder="Mínimo" id="precio" class="control"> 
        <h4 style="align-self: center;">-</h4>
        <input type= "number" name="precio" placeholder="Máximo" id="precio" class="control">
        </div> -->  
     
    </div> 

    <div>
        
       <form action='/index' method="get" class="formulario-login">
           <div class="control"><button type="submit" class="register">Crear</button></div>
           </form>  
    </div>


</main>
<%- include ('../partials/footer.ejs') %> 
<script src="/js/products.js"></script>
</body>



</html>    