<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
<main>
    <div class="title-carrito"><h2>Editá  tus productos</h2></div>
<form action='../<%= productToEdit.id %>?_method=PUT' method="POST" class="formulario" enctype="multipart/form-data">
    
    
    <div class="control-formulario">
        <label for="nombre"></label>
        <input type="text" name="nombre" id="nombre" class="control" placeholder="<%= productToEdit.nombre %>" value="<%= productToEdit.nombre %>" >
    </div>
    <div class="control-formulario">
        <label for="descripcion">Descripción del producto</label>
        <textarea name="descripcion" type="text" id="descripcion" class="control" placeholder="<%= productToEdit.descripcion %>" value="<%= productToEdit.descripcion %>"> <%= productToEdit.descripcion %></textarea>
    </div>
    
    
    <div class="control-formulario">
        <label for="categorias" name="category">Categorias</label>
        <select class="control" name="category">
            <option value="<%= productToEdit.category%>"><%= productToEdit.category%></option>
            <option value="unisex">Unisex</option>
            <option value="mujer">Mujer</option>
            <option value="hombre">Hombre</option>
            <option value="niño">Niños</option>
            <option value="reloj-smart">Smart Watch</option>
            <option value="vintage">Vintage</option>
        </select>    
    </div>
    <div class="control-formulario">
        <label for="color">Color del producto</label>
    </div>
    <div class="control-formulario-radio">
        
            <div class="each">
                <input type="radio" name="color" value="color-marron" class="radio" id="color-marron">
                <img src="../../images/marron.png" alt="imagen-marron" class="color"/> 
                <label for="color-marron">Marrón</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="color-negro" class="radio" id="color-negro">
                <img src="../../images/negro.png" alt="imagen-negro" class="color"/> 
                <label for="color-negro">Negro</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="color-azul" class="radio" id="color-azul">
                <img src="../../images/azul.png" alt="imagen-azul" class="color" /> 
                <label for="color-azul">Azul</label>
            </div>
    </div>   
    <div class="control-formulario-radio">
        
            <div class="each">
                <input type="radio" name="color" value="color-blanco" class="radio" id="color-blanco">
                <img src="../../images/blanco.png" alt="imagen-rojo" class="color"/> 
                <label class="colores" for="color-blanco">Blanco</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="color-verde" class="radio" id="color-verde">
                <img src="../../images/verde.png" alt="imagen-verde" class="color"/> 
                <label class="colores" for="color-verde">Verde</label>
            </div>
            <div class="each">
                <input type="radio" name="color" value="color-rojo" class="radio" id="color-rojo">
                <img src="../../images/rojo.png" alt="imagen-rojo" class="color"/> 
                <label class="colores" for="color-rojo">Rojo</label>
            </div>
            
        
    </div>
    
    <div class="control-formulario">
        <label for="imagen">Selecciona una nueva foto del producto</label>    
         
        <input type="file" name="imagen" id="imagen" class="control" accept=".jpg"> 
    <!-- Acá lo que tenemos que hacer es que por defecto quede la imagen ya ingresada.-->
    </div>
    
    
    
    <div class="control-formulario">
        <label for="precio">Precio</label>
        <input type= "number" name="precio" placeholder="Precio del producto" id="precio" class="control"
        value="<%=productToEdit.precio %>"> 
        
        <!--  
        <div class="control-precio">
        <input type= "number" name="precio" placeholder="Mínimo" id="precio" class="control"> 
        <h4 style="align-self: center;">-</h4>
        <input type= "number" name="precio" placeholder="Máximo" id="precio" class="control">
        </div> -->  
     
    </div> 
<div class="each-checkbox">
        <input type="checkbox" name="envio" value="envio" id="envio">
        <label for="envio">Envío gratis</label>
</div>
    

       
 <div class="control"><button type="submit" class="register">Guardar cambios</button></div>
             



</main>
<%- include ('../partials/footer.ejs') %> 
</body>



</html>    