<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
<main>
    <div class="title-carrito"><h2>Editá  tus productos</h2></div>
<form action='../<%= productToEdit.id %>/edit' method="POST" class="formulario" enctype="multipart/form-data" style="margin-top: 0%">
    
    
    <div class="control-formulario">
        <label for="nombre"></label>
        <input type="text" name="nombre" id="nombre" class="control" placeholder="<%= productToEdit.nombre %>" 
        value="<%= productToEdit.nombre %>" >
        <p class="error" id="nombre"></p>

    </div>
    <% if(locals.errors && errors.nombre){ %>
        <div class="error"> <%= errors.nombre.msg %> </div>
    <% } %>

    <div class="control-formulario">
        <label for="descripcion">Descripción del producto</label>
        <textarea name="descripcion" type="text" id="descripcion" class="control"  value="<%= productToEdit.descripcion %>"> <%= productToEdit.descripcion %></textarea>
        <p class="error" id="descripcion"></p>
    </div>
    <% if(locals.errors && errors.descripcion){ %>
        <div class="error"> <%= errors.descripcion.msg %> </div>
    <% } %>
    
    
    <div class="control-formulario">
        <label for="categorias" name="category">Categorias</label>
        <select class="control" name="category">
            
            <% for(let i = 0; i<categorias.length; i ++) {if(categorias[i].id == productToEdit.categorias.id){%>
            <option selected value="<%= productToEdit.categorias.id%>"><%= productToEdit.categorias.nombre%> </option> 
            <%}else if(categorias[i].id != productToEdit.categorias.id){ %> 
            <option value="<%=categorias[i].id%>"><%=categorias[i].nombre%></option>
            <% }} %> 
        </select>    
        <% if(locals.errors && errors.category){ %>
            <div class="error"> <%= errors.category.msg %> </div>
        <% } %>
        
        
    </div>
    <div class="control-formulario">
        <label for="color">Color del producto</label>
    </div>
    <div class="control-formulario-radio">
        <% for(let i = 0; i<colores.length; i ++) {if(colores[i].id == productToEdit.colores.id){%>
            
            <div class="each">
                <input type="radio" name="color" value="<%=productToEdit.colores.id%>" class="radio" id="color-<%= productToEdit.colores.color %>" checked="checked">
                <img src="../../images/<%= productToEdit.colores.color %>.png" alt="imagen-<%= productToEdit.colores.color %>" class="color"/> 
                <label for="color-<%= productToEdit.colores.color %>"><%= productToEdit.colores.color %></label>
            </div>
        <%}else if(colores[i].id != productToEdit.colores.id && colores[i].id > 3){%>
            <div class="each">
                <input type="radio" name="color" value="<%=colores[i].id%>" class="radio" id="color-<%=colores[i].color%>">
                <img src="../../images/<%=colores[i].color%>.png" alt="imagen-<%=colores[i].color%>" class="color"/> 
                <label for="color-<%=colores[i].color%>"><%=colores[i].color%></label>
            </div>
            <% }} %>        
    </div>
     
    <div class="control-formulario-radio">
        <% for(let i = 0; i<colores.length; i ++) if(colores[i].id != productToEdit.colores.id && colores[i].id <= 3){%>
            <div class="each">
                <input type="radio" name="color" value="<%=colores[i].id%>" class="radio" id="color-<%=colores[i].color%>">
                <img src="../../images/<%=colores[i].color%>.png" alt="imagen-<%=colores[i].color%>" class="color"/> 
                <label for="color-<%=colores[i].color%>"><%=colores[i].color%></label>
            </div>
            <% } %>          
    </div>   
    
    <% if(locals.errors && errors.color){ %>
        <div class="error"> <%= errors.color.msg %> </div>
    <% } %>
        
           
           
    
    <div class="control-formulario">
        <label for="imagen">Selecciona una nueva foto del producto</label>    
         
        <input type="file" name="imagen" id="imagen" class="control" accept=".jpg"> 
    <!-- Acá lo que tenemos que hacer es que por defecto quede la imagen ya ingresada.-->
    </div>
    
    
    <% if(locals.errors && errors.imagen){ %>
        <div class="error"> <%= errors.imagen.msg %> </div>
    <% } %>
    
    
    
    <div class="control-formulario">
        <label for="precio">Precio</label>
        <input type= "number" name="precio" placeholder="Precio del producto" id="precio" class="control"
        value="<%=productToEdit.precio %>"> 
        <p class="error" id="precio"></p>
        
        <!--  
        <div class="control-precio">
        <input type= "number" name="precio" placeholder="Mínimo" id="precio" class="control"> 
        <h4 style="align-self: center;">-</h4>
        <input type= "number" name="precio" placeholder="Máximo" id="precio" class="control">
        </div> -->  
    </div> 

    
    
    <% if(locals.errors && errors.precio){ %>
        <div class="error"> <%= errors.precio.msg %> </div>
    <% } %>


<div class="each-checkbox">
        <input type="checkbox" name="envio" value="envio" id="envio">
        <label for="envio">Envío gratis</label>
</div>
    


       
 <div class="control"><button type="submit" class="register">Guardar cambios</button></div>
             



</main>
<%- include ('../partials/footer.ejs') %> 
<script src="/js/editProducts.js"></script>
</body>



</html>    