<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 

    <main style="margin-top: -118px;">
        
        <div class="main-body">
        
        <div class="body-elemento1">
            <div class="id-producto" data-id="<%= productToEdit.id%>"></div>
            <div class="top-img">
                <a href="/products" style="text-decoration: none;"><p style="color: black;">Relojes </p></a>
                <p style="color: black;"> /  <%= productToEdit.categorias.nombre %> / </p>
                <p id="nombre"><%= productToEdit.nombre %></p> 
            </div>
            
                
            <div class="contenedor">
                <img src="../../images/<%= productToEdit.imagen %>" class="reloj" />
            </div>
        
            
        </div>

        <div class="body-elemento-2">
            <h2 class="nombre">
                <%= productToEdit.nombre %>
            </h2>
            
            <h4 class="color-detalle">
                
                <%= productToEdit.colores.color %> - <%= productToEdit.categorias.nombre %>
            </h4>
            <div style="display:flex">
                <h3 style="font-size: 30px; margin-bottom: 5px;">$</h3>
                <h3 class="precio"><%=productToEdit.precio %></h3>
            </div>
            
            <h4 class="cuotas">
                12 cuotas sin interés de $ <%= Math.trunc(productToEdit.precio / 12) %>
            </h4>
            <h4 class="cuota">
                10% OFF en una cuota: $ <%= Math.trunc(productToEdit.precio - (productToEdit.precio * (10 / 100))) %>
            </h4>
            
            
            <div class="detail-bottom">
                
                <form action='/products/carrito' method="get" class="formulario-login">
                <div class="control-carrito"><button type="submit" class="register carrito-button">Agregar al Carrito</button></div>
                </form>

            </div>

            <div class="botones-detail">
                
                    <form action='<%=productToEdit.id%>?_method=DELETE' method="POST" class="formulario-login">
                       
                            <button class="detail-a" type="submit" >
                                Eliminar
                            </button>
                        
                        
                    </form>
               

            
                   <div class="detail-b"><a  href="../<%=productToEdit.id%>/edit">Editar</a>
                    </div>
            
            </div>

            
            
            <div class="descripcion">
            <h3 class="titulo-descripcion">Descripcion del producto</h3>
            <p> <%= productToEdit.descripcion %></p>
            </div>
        </div>
    </div>
    </main>
<%- include ('../partials/footer.ejs') %> 
<script src="/js/addToCart.js"></script>


</body>
</html>