<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 
    
    

<% if( productosEncontrados.length >= 1 /*&& productosEncontrados.length < productosEncontrados.length*/) {%> 
	<div class="todos-productos"><h2>Según tu búsquedad</h2></div>
	<div class="products" >


		<% for(let i = 0; i < productosEncontrados.length; i ++){  %> 
		<a href="/products/detalle/<%= productosEncontrados[i].id %>">
		<article class="producto">
			<img src= '../images/<%= productosEncontrados[i].imagen %>'  alt="imagen-principal">
			<div class="cuerpo-card"> 
                    <h3><%= productosEncontrados[i].nombre %> </h3>
                    <p>$<%= productosEncontrados[i].precio %></p>
			</div> 
				

		</article>
	    </a>
	    
		<% } }else if (productosEncontrados.length < 1  /*|| productosEncontrados.length == productosEncontrados.length || productosEncontrados == null || productosEncontrados == undefined || productosEncontrados.length == db.products.length*/){ %> 
			<div class="htmlNoneProduct">
			<div class="noneProduct"></div>
			<h3 class="h3NoneProduct"> Lo sentimos, no hay productos que coincidan con tu busqueda 🤔</h3>
			<lu class="listNoneProducts">
				<li> Utilizá palabras más genéricas o menos palabras. </li>
				<li> Revisá la ortografía de la palabra. </li>
			</lu>
			<img src= '../images/lupa-con-cara-triste.png'  alt="" height="250" class="imgNoProduct">
			<button class="boton-css-nuevo"> <a href="/products" >Ver todos los relojes</a></button>
			</div>
			<% } %> 
    </div>
	
    <%- include ('../partials/footer.ejs') %> 
</body>

</body>
</html>