<!DOCTYPE html>
<html lang="en">
<%- include ('../partials/head.ejs') %> 
<body>
<%- include ('../partials/header.ejs') %> 

    <form>
        <div class="title-carrito"><h2>Carrito de compras</h2>
        </div>
    <div class="carrito">
        <div class="flexCarrito">

        <div id="listaProductos">
            
            <img src="" id="imagen"/>
            
               
        </div>
        </div>
        <div class="elementos-carrito-2">
            <p class="bold">Detalle de la compra:</p>
            <div class="insertarTotal">

            </div>
            <div class="finalizar" style="display:flex ;">
                <form action='/' method="get" class="formulario-login">
                    <div class="boton-comprar"><button class="agregar-carrito" type="submit">Finalizar compra</button></div>
                </form>  
                <form action='/products/carrito' method="get" class="formulario-login">
                    <div class="boton-comprar" id="vaciar"><button class="agregar-carrito red" >Vaciar carrito</button></div>            </form>  
                </div>
                </form>
            </div>
        </div>
        
        
    </div>
    
        
    <div class="mas-vendidos"><h2>Te pueden interesar</h2></div>
   


    <section class="galeria">
        
       
        
        <div class="lista-imagenes">
            
            <% for(let i = 0; i < products.length; i ++){  %> 
            <a href="/products/detalle/<%= products[i].id %>">
            <div class="card">
                <img src="../../images/<%= products[i].imagen %>" alt="imagen-principal"/> 
                <div class="cuerpo-card">
                    <h5><%= products[i].nombre %></h5>
                    <p>$<%= products[i].precio %></p>

                </div>
            </div>
            </a>
            <% } %> 
            
            
            
        </div>


    </section>
    </main>

<%- include ('../partials/footer.ejs') %> 
<script src="/js/cart.js"></script>

</body>
</html>